<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb484631348363288</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.5</string>
	<key>FacebookAppID</key>
	<string>484631348363288</string>
	<key>FacebookDisplayName</key>
	<string>gttdev</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MSAgencyID</key>
	<string>13</string>
	<key>MSGoogleAnalyticID</key>
	<string>UA-54082858-1</string>
	<key>MSProductionID</key>
	<string>48</string>
	<key>MSSecretKey</key>
	<string>E35A49809A0B55074647B77B362C6688</string>
	<key>MSSingerID</key>
	<string>639</string>
	<key>MSSingerName</key>
	<string>NOOPHUOCTHINH</string>
	<key>UIAppFonts</key>
	<array>
		<string>MYRIADPRO-REGULAR.OTF</string>
		<string>MYRIADPRO-BOLD.OTF</string>
		<string>VIE-HandelGothic Medium.otf</string>
		<string>VIE-HandelGothic-Bold.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
